.login-page {
  height: 100vh !important;
}

@media screen and (max-width: 995px) {
  .login-page {
    height: 100% !important;
    padding: 5% 0;
  }
}

@media  screen and (max-width: 768px) {
  .login-page {
    padding: 0;
  }
}